<H1>Account <small>for <%= current_member.email %></small></H1>
<ul>
	<li> <%= link_to "Change/reset password", edit_member_password_path %> </li>
	<li> <%= link_to "Change account", edit_member_registration_path %> </li>
	<li> <%= link_to "Logout", destroy_member_session_path, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
</ul>
